* {
    box-sizing: border-box;
}

.fighter {
    width: 100%;
    height: auto;
}

#fighterImage, #enemyImage {
    width: 100%;
    height: auto;
}

#chosenFighter {
    visibility: hidden;
    border: 5px solid greenyellow;
}

#chosenEnemy {
    visibility: hidden;
    border: 5px solid red;
}

#fighterRow {
    width: 100%;
}

p {
    text-align: center;
}